/* *{margin:0;padding:0} 
canvas{display: block}
#container{width: 100vw;height: 100vh} */

/* position: fixed
	overscroll-behavior-y: none */

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	
	body {
		font-family: Georgia, 'Times New Roman', Times, serif;
	}
	
	h1 {
		text-align: center;
		overflow: hidden;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color:#fff;
		font-size: 6vh;
	}
	
	.nav {
		font-size: 20px;
		padding: 50px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: #fff
	}
	
	.nav a {
		display: inline;
		text-decoration: none;
		color: black;
	}
	
	.nav li {
			list-style-type: none;
	}
	
	#container {
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		height: 100vh;
		width: 100vw;
	}
	canvas {
		display: block;
	}